#include "wren.dtsi" // The shared dtsi file is included in the overlay

&default_transform { // Offset of 6 because the left side has 6 columns
    col-offset = <6>;
};

// Label of the kscan node in the dtsi
&kscan0 {
    col-gpios
            = <&pro_micro10 GPIO_ACTIVE_HIGH>
            , <&pro_micro16 GPIO_ACTIVE_HIGH>
            , <&pro_micro14 GPIO_ACTIVE_HIGH>
            , <&pro_micro15 GPIO_ACTIVE_HIGH>
            , <&pro_micro18 GPIO_ACTIVE_HIGH>
            , <&pro_micro19 GPIO_ACTIVE_HIGH>
            , <&pro_micro20 GPIO_ACTIVE_HIGH>
            , <&pro_micro21 GPIO_ACTIVE_HIGH>
            , <&pro_micro6 GPIO_ACTIVE_HIGH>
            ;
};
