#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <locale/keys_de.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -----------------------------------------------------------------------------------------
// |  ^   |  1   |  2   |  3   |  4  |  5  |                   |  6   |  7   |  8   |  9   |  0   |  ß  |  INS  |  HOME | PUP |
// |  ESC |  Q   |  W   |  E   |  R  |  T  |                   |  Z   |  U   |  I   |  O   |  P   |  Ü  |  DEL  |  END  | PDWN|
// | SHFT |  A   |  S   |  D   |  F  |  G  |                   |  H   |  J   |  K   |  L   |  Ö   |  Ä  |       |  UP   |     |
// |  <>  |  Y   |  X   |  C   |  V  |  B  |                   |  N   |  M   |  ,   |  .   |  -   |  #  |  LFT  |  DWN  | RGT |
//               |  ?   | ALT  |  OS | BKSP| ENTER |   | SPACE | DEL  |  OS  | ALT  |  ?  |
        
            bindings = <
   &kp CARET &kp DE_N1 &kp N2   &kp N3   &kp N4   &kp N5                           &kp N6  &kp N7   &kp N8    &kp N9   &kp N0    &kp S    &kp INS  &kp HOME &kp PG_UP
   &kp ESC   &kp Q  &kp W    &kp E    &kp R    &kp T                            &kp Z   &kp U    &kp I     &kp O    &kp P     &kp U    &kp END  &kp END  &kp PG_DN
   &kp LSHFT &kp A  &kp S    &kp D    &kp F    &kp G                            &kp H   &kp J    &kp K     &kp L    &kp O     &kp A             &kp UP  
   &kp LT    &kp Y  &kp X    &kp C    &kp V    &kp B                            &kp N   &kp M    &kp COMMA &kp DOT  &kp MINUS &kp HASH &kp LEFT &kp DOWN &kp RIGHT
                    &kp LGUI &kp LALT &kp LGUI &kp BSPC &kp ENTER     &kp SPACE &kp DEL &kp RGUI &kp RALT  &studio_unlock
            >;
        };
    };
 };